<% layout('layout/app') %>

<h1 class="text-center">Edit Place</h1>
<form action="/places/<%= place._id %>?_method=PUT" method="post">
  <div class="mb-3">
    <label class="form-label" for="title">Title</label>
    <input
      class="form-control"
      type="text"
      name="place[title]"
      id="title"
      value="<%= place.title %>"
    />
  </div>
  <div class="mb-3">
    <label class="form-label" for="location">Location</label>
    <input
      class="form-control"
      type="text"
      name="place[location]"
      id="location"
      value="<%= place.location %>"
    />
  </div>
  <div class="mb-3">
    <label class="form-label" for="description">Description</label>
    <input
      class="form-control"
      type="text"
      name="place[description]"
      id="description"
      value="<%= place.description %>"
    />
  </div>
  <div class="mb-3">
    <label class="form-label" for="price">Price</label>
    <input
      class="form-control"
      type="text"
      name="place[price]"
      id="price"
      value="<%= place.price %>"
    />
  <div class="mb-3">
    <label class="form-label" for="image">Image URL</label>
    <input
      class="form-control"
      type="text"
      name="place[image]"
      id="image"
      value="<%= place.image %>"
    />
  </div>
  <button class="btn btn-success" type="submit">Submit</button>
</form>
